h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--main-font);
	font-style: normal;
	font-size: 14px;
}

.link {
	font-style: normal;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	font-size: 14px;
	color: #212121;
	text-decoration: none;
	cursor: pointer;
	outline: none;
}

.list {
	list-style: none;
}

.img {
	display: block;
}
